.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.displayLists {
    position: absolute;
    padding: 10px;
    margin-top: -8px;
    line-height: 7px;
    background-color: #fbf9ee;
}

.logoLeft {
    display: flex;
    padding-left: 1rem;
}

.rightLinks {
    display: flex;
    gap: 80px;
    padding-right: 1rem;
    margin-top: -20px;
}

.logo {
    width: 35px;
    height: auto;
}

@keyframes bob {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2px);
    }

    100% {
        transform: translateY(0);
    }
}

.bob:hover {
    animation: bob 0.8s infinite;
}

@media (max-width: 500px) {
    .rightLinks {
        gap: 35px;
    }
}

@media (max-width: 360px) {
    .rightLinks {
        gap: 10px;
    }

    .rightLinks>p, 
    .workLink, 
    .displayLists>p {
        font-size: .9rem;
    }
}