.bgColorDiv {
    position: relative;
    padding-top: 25px;
    margin-left: -49vw;
    left: 50%;
    right: 50%;
    width: 98vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.h1 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.link {
    color: #4b6a6a;
    font-family: "Headings";
    margin-bottom: 40px;
}

.workImg {
    width: 100%;
    border-radius: 5px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.workP {
    text-align: left;
}

.workInfo {
    margin-bottom: 50px;
}

.workImg:hover {
    transform: scale(1.05);
}

.zoomedOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    cursor: pointer;
}

.zoomedOverlay.show {
    opacity: 1;
    visibility: visible;
}

.zoomedImageContainer {
    max-height: 100%;
    display: flex;
    justify-content: center;
}

.zoomedImage {
    width: 100%;
    height: auto;
    object-fit: contain;
}

@media (max-width: 900px) {

    .bgColorDiv {
        grid-template-columns: repeat(2, 1fr);
    }
}
    
    @media (max-width: 550px) {

        .bgColorDiv {
            grid-template-columns: repeat(1, 1fr);
        }
    
    }