.workImg {
    width: 200px;
    height: auto;
    cursor: pointer;
    margin-left: 4%;
    object-fit: cover;
}

.workCard {
    width: 250px;
    text-align: center;
}

.workDiv {
    display: flex;
    justify-content: space-between;
    width: 1100px;
    margin: 0 auto;
}

.bgColorDiv>h2 {
    margin-top: 0px;
    margin-bottom: 35px;
    text-align: center;
}

.bgColorDiv {
    position: relative;
    padding-top: 50px;
    margin-left: -50vw;
    padding-right: 11px;
    left: 50%;
    right: 50%;
    width: 99vw;
    display: flex;
    flex-direction: column;
    background-color: #d6e2e2;
    padding-bottom: 30px;
}

@keyframes bob {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2px);
    }

    100% {
        transform: translateY(0);
    }
}

.bob:hover {
    animation: bob 0.8s infinite;
}

@media (max-width: 1200px) {

    .workDiv {
        width: 950px;
    }
}

@media (max-width: 1000px) {
    .workImg {
        width: 180px;
    }

    .workDiv {
        width: 870px;
    }
}

@media (max-width: 900px) {

    .workDiv {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 50px;
        row-gap: 20px;
        width: auto;
    }
}

@media (max-width: 643px) {

    .workDiv {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
        row-gap: 20px;
        justify-content: center;
        width: 80%;
    }
}

@media (max-width: 530px) {
    .workCard {
        width: 200px;
    }

    .h3 {
        font-size: 1rem;
    }
}

@media (max-width: 420px) {

    .workCard>p,
    .bgColorContent>p {
        font-size: .8rem;
    }

    .workImg {
        width: 150px;
    }

    .workCard {
        width: 160px;
    }

}

@media (max-width: 360px) {

    .workImg {
        width: 140px;
    }

    .workCard {
        width: 150px;
    }

}

@media (max-width: 330px) {

    .workImg {
        width: 130px;
    }

    .workCard {
        width: 140px;
    }

}