.headings {
  text-align: center;
}

.logo {
  max-width: 50px;
  height: auto;
}

.main>div>h2 {
  text-align: center;
}

.spacer {
  height: 40px;
}

.smallSpacer {
  height: 20px;
}

.aboutDiv {
  display: flex;
  gap: 50px;
}

.aboutP {
  margin-top: 27px;
  max-width: 60%;
  object-fit: contain;
  position: sticky;
}

.aboutImg {
  max-width: 250px;
  height: auto;
  width: 100%;
  object-fit: contain;
  margin-left: 10px;
}

.imgContainer {
  max-width: 250px;
  max-height: 250px;
  width: 250px;
  height: 250px;
  margin-bottom: 15px;
  position: relative;
  flex-shrink: 0;
}

.logoDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.linkExperience {
  color: #4b6a6a;
  font-family: "Headings";
  margin-top: 25px;
}

@keyframes bob {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-2px);
  }

  100% {
    transform: translateY(0);
  }
}

.bob:hover {
  animation: bob 0.8s infinite;
}

.btnDiv {
  display: flex;
  justify-content: center;
}

.linkedInBtn {
  max-width: 120px;
  height: auto;
}

@media (max-width: 850px) {

  .aboutDiv {
    gap: 20px;
  }

}

@media (max-width: 750px) {

  .aboutDiv {
    flex-direction: column;
    margin: auto;
    align-items: center;
  }

  .aboutImg {
    margin-bottom: -15px;
    object-fit: cover;
  }

  .imgContainer {
    max-width: 250px;
    max-height: 250px;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
  }

  .aboutP {
    max-width: 800px;
    margin-top: 30px;
  }

}

@media (max-width: 610px) {
  .edDiv {
    display: block;
  }

  .edDiv>div>h2 {
    text-align: center;
  }
}

@media (max-width: 485px) {
  .linkedInBtn {
    max-width: 100px;
  }

  .aboutImg {
    width: 220px;
  }

  .imgContainer {
    max-width: 220px;
    max-height: 220px;
    width: 220px;
    height: 220px;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 455px) {
  .linkedInBtn {
    max-height: 100px;
  }
}

@media (max-width: 420px) {
  .linkedInBtn {
    max-width: 90px;
  }
}

@media (max-width: 395px) {
  .imgContainer {
    max-width: 190;
    height: 190;
  }

  .aboutImg {
    width: 190px;
  }

  .imgContainer {
    max-width: 190px;
    max-height: 190px;
    width: 190px;
    height: 190px;
  }
}

@media (max-width: 360px) {
  .linkedInBtn {
    max-height: 90px;
  }

}