.logoDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: -15px;
}

.imgContainer {
    position: relative;
    width: 100vw;
    height: auto;
    aspect-ratio: 840 / 450;
    margin-left: -.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -90px;
}

.main>div>h2 {
    text-align: center;
}

.mainImg {
    max-width: 100vw;
    height: auto;
    object-fit: cover;
}

.logo {
    max-width: 40px;
    height: auto;
}

.spacer {
    height: 5vh;
}

.smallSpacer {
    height: 2vh;
}

@media (max-width: 550px) {
    .spacer {
        height: 2.8vh;
    }

    .smallSpacer {
        height: 1vh;
    }
}

@media (max-width: 515px) {
    .h1 {
        font-size: 1.7rem;
    }
}

@media (max-width: 440px) {
    .logo {
        max-width: 35px;
    }

    .h1 {
        font-size: 1.5rem;
    }
}

@media (max-width: 395px) {
    .h1 {
        font-size: 1.3rem;
    }
}

@media (max-width: 357px) {
    .h1 {
        font-size: 1.2rem;
    }

    .logo {
        max-width: 30px;
    }
}

@media (max-width: 337px) {
    .h1 {
        font-size: 1.1rem;
    }

    .main>div>h2 {
        font-size: 1rem;
    }
}