.logoDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: -15px;
}

.logo {
    max-width: 40px;
    height: auto;
}

.spacer {
    height: 40px;
}

.main>div>h2 {
    text-align: center;
}

.smallSpacer {
    height: 20px;
}

@keyframes bob {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2px);
    }

    100% {
        transform: translateY(0);
    }
}

.bob:hover {
    animation: bob 0.8s infinite;
}

.btnDiv {
    display: flex;
    justify-content: center;
}

.btn {
    max-width: 120px;
    height: auto;
}

@media (max-width: 485px) {
    .btn {
        max-width: 100px;
    }
}

@media (max-width: 455px) {
    .btn {
        max-height: 100px;
    }
}

@media (max-width: 420px) {
    .btn {
        max-width: 90px;
    }

    .logo {
        max-width: 35px;
    }

    .h1 {
        font-size: 1.7rem;
    }
}

@media (max-width: 360px) {
    .btn {
        max-height: 90px;
    }

}