.logoDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: -15px;
}

.pDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pDiv>p {
    max-width: 800px;
    margin: .4rem;
}

.imgContainer {
    position: relative;
    width: 100vw;
    height: auto;
    aspect-ratio: 840 / 450;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainImg {
    width: 101vw;
    height: auto;
    margin-left: -1.05rem;
    object-fit: cover;
}

.bannerImg {
    width: 100vw;
    height: auto;
    object-fit: cover;
}

.workImg {
    max-width: 300px;
    max-height: 300px;
}

.workImgDiv {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 800px;
    margin: 0 auto;
    gap: 40px;
}

.bgDiv>h2 {
    margin-top: 0px;
    margin-bottom: 35px;
    text-align: center;
}

.bgDiv {
    position: relative;
    padding-top: 20px;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
    max-width: 1000px;
}

.logo {
    max-width: 40px;
    height: auto;
}

.spacer {
    height: 40px;
}

.main>div>h2 {
    text-align: center;
}

.smallSpacer {
    height: 20px;
}

@keyframes bob {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2px);
    }

    100% {
        transform: translateY(0);
    }
}

.bob:hover {
    animation: bob 0.8s infinite;
}

.btnDiv {
    display: flex;
    justify-content: center;
}

.btn {
    max-width: 120px;
    height: auto;
}

@media (max-width: 600px) {

    .h1 {
        font-size: 1.7rem;
    }
}


@media (max-width: 485px) {
    .btn {
        max-width: 100px;
    }
}

@media (max-width: 455px) {
    .btn {
        max-height: 100px;
    }
}

@media (max-width: 420px) {
    .btn {
        max-width: 90px;
    }

    .logo {
        max-width: 35px;
    }

    .h1 {
        font-size: 1.5rem;
    }
}

@media (max-width: 360px) {
    .btn {
        max-height: 90px;
    }

}