.logoDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: -15px;
}

.logo {
    max-width: 40px;
    height: auto;
}

.spacer {
    height: 40px;
}

.smallSpacer {
    height: 20px;
}

@media (max-width: 420px) {
    .logo {
        max-width: 35px;
    }

    .h1 {
        font-size: 1.8rem;
    }
}

