.logoDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: -15px;
}

.imgContainer {
    position: relative;
    width: 100vw;
    height: auto;
    aspect-ratio: 840 / 361.2;
    overflow: hidden;
    margin-left: -.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainImg {
    max-width: 100vw;
    height: auto;
    object-fit: cover;
}

.main>div>h2 {
    text-align: center;
}

.logo {
    max-width: 40px;
    height: auto;
}

.spacer {
    height: 40px;
}

.smallSpacer {
    height: 20px;
}

@media (max-width: 600px) {

    .h1 {
        font-size: 1.7rem;
    }
}

@media (max-width: 420px) {
    .logo {
        max-width: 35px;
    }

    .h1 {
        font-size: 1.5rem;
    }
}