:root {
  --yellow: #fcf174;
  --lightyellow: #fff693;
  --offwhite: #fcfbf5;
  --black: #211e1c;
}

@font-face {
  font-family: "Headings";
  src: url('../public/Garet-Heavy.ttf');
}

@font-face {
  font-family: "Body";
  src: url('../public/Garet-Book.ttf');
}

html {
  background-color: var(--offwhite);
  color: var(--black);
}

p,
h1,
h2,
h3 {
  padding-right: .4rem;
  padding-left: 1rem;
}

main {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
}

p {
  font-family: "Body";
}

h1,
h2,
h3 {
  font-family: "Headings";
}

a {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 520px) {
  h2 {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  p {
    font-size: .9rem;
  }
}

@media (max-width: 420px) {
  p {
    font-size: .8rem;
  }
}