.heroSection {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 96%;
  margin-top: 30px;
}

.spacer {
  height: 80px;
}

.medSpacer {
  height: 50px;
}

.smallSpacer {
  height: 20px;
}

.heroContent {
  flex: 1;
  margin-right: 25px;
  margin-top: -70px;
}

.linkedInBtn {
  width: 140px;
  height: auto;
  margin-top: -50px;
}

.linkedInBtnDiv {
  display: flex;
  width: 94%;
  margin-top: -50px;
  margin-bottom: 30px;
}

.logo {
  max-width: 50px;
  height: auto;
  margin-top: 25px;
}

.logoDiv {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.section2 {
  text-align: center;
}

.mainHeading,
.logo {
  margin-bottom: -5px;
  font-size: 2.5rem;
}

.contactDiv {
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
}

.contactBtn {
  max-width: 120px;
  height: auto;
}

.img {
  max-width: 345px;
  height: auto;
  object-fit: contain;
  margin-right: .5rem;
}

@keyframes bob {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-2px);
  }

  100% {
    transform: translateY(0);
  }
}

.bob:hover {
  animation: bob 0.8s infinite;
}

@media (max-width: 900px) {
  .img {
    max-width: 290px;
    height: auto;
  }

  .linkedInBtn {
    margin-top: -25px;
    max-width: 120px;
  }

  .mainHeading {
    font-size: 2.4rem;
  }

  .linkedInBtnDiv {
    margin-top: -45px;
  }
}

@media (max-width: 755px) {

  .mainHeading {
    font-size: 2.3rem;
  }

  .introP {
    font-size: .9rem;
  }

  .linkedInBtn {
    width: 120px;
  }
}

@media (max-width: 702px) {

  .mainHeading {
    font-size: 2.3rem;
  }

  .linkedInBtn {
    width: 120px;
  }

  .linkedInBtnDiv {
    margin-top: -35px;
  }
}

@media (max-width: 670px) {

  .mainHeading {
    font-size: 2.1rem;
  }

  .img {
    max-width: 270px;
  }
}

@media (max-width: 643px) {
  .img {
    max-width: 250px;
    height: auto;
  }

  .mainHeading {
    font-size: 2rem;
  }

  .linkedInBtnDiv {
    margin-top: -25px;
  }

  .linkedInBtn {
    max-width: 110px;
  }
}

@media (max-width: 621px) {
  .img {
    max-width: 240px;
  }

  .linkedInBtnDiv {
    margin-top: -20px;
  }
}

@media (max-width: 611px) {

  .heroContent {
    margin-right: 10px;
  }

  .logoDiv {
    justify-content: center;
  }

  .logo {
    margin-top: -10px;
    width: 40px;
  }

  .mainHeading {
    font-size: 1.8rem;
    margin-left: 10px;
  }

  .linkedInBtn {
    width: 110px;
    margin-top: 30px;
    margin-bottom: -30px;
  }

  .heroSection {
    flex-direction: column;
    margin: auto;
  }

  .heroContent {
    text-align: center;
    margin: 0;
  }

  .img {
    max-width: 230px;
    margin: 0;
  }

  .mainHeading {
    margin-bottom: 30px;
  }

  .linkedInBtnDiv {
    width: 100%;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .introP {
    margin-bottom: 30px;
    margin-top: -15px;
    max-width: 425px;
  }
}

@media (max-width: 530px) {

  .img {
    max-width: 200px;
    height: auto;
    margin: -10px;
  }

  .introP {
    margin-top: -10px;
  }
}

@media (max-width: 510px) {

  .mainHeading {
    font-size: 1.6rem;
  }

  .mainHeading {
    margin-bottom: 20px;
  }

  .introP {
    margin-top: 0px;
  }

}

@media (max-width: 485px) {

  .contactBtn {
    max-width: 100px;
  }

  .contactDiv {
    gap: 30px;
  }
}

@media (max-width: 455px) {

  .contactDiv {
    gap: 20px;
  }

  .contactBtn {
    max-height: 100px;
  }

  .mainHeading {
    font-size: 1.6rem;
  }

}

@media (max-width: 420px) {

  .introP{
    font-size: .8rem;
  }

  .contactBtn {
    max-width: 90px;
  }

  .contactDiv {
    gap: 20px;
  }

}

@media (max-width: 360px) {

  .contactBtn {
    max-height: 90px;
  }

}

@media (max-width: 300px) {

  .mainHeading {
    font-size: 1.5rem;
  }
}