.logoDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: -15px;
    margin-top: -10px;
}

.logo {
    max-width: 40px;
    height: auto;
}

.spacer {
    height: 40px;
}

.smallSpacer {
    height: 20px;
}

.linkedInDiv {
    text-align: center;
}

.workImg {
    max-width: 200px;
    height: auto;
    margin: auto 0;
    cursor: pointer;
    margin-left: 13px;
}

.main>h2 {
    text-align: center;
}

@keyframes bob {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2px);
    }

    100% {
        transform: translateY(0);
    }
}

.bob:hover {
    animation: bob 0.8s infinite;
}

.contactBtn {
    max-width: 120px;
    height: auto;
    margin-left: 8px;
}

@media (max-width: 485) {
    .contactBtn {
        max-width: 100px;
    }
}

@media (max-width: 420px) {
    .logo {
        max-width: 35px;
    }

    .pBreak {
        max-width: 200px;
    }

    .h1 {
        font-size: 1.8rem;
    }

    .contactBtn {
        max-width: 90px;
    }
}