.logoDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: -15px;
}

.logo {
    max-width: 40px;
    height: auto;
}

.workImg {
    max-width: 200px;
    height: auto;
    cursor: pointer;
}

.workCard {
    max-width: 250px;
}

.workDiv {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
}

@keyframes bob {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2px);
    }

    100% {
        transform: translateY(0);
    }
}

.bob:hover {
    animation: bob 0.8s infinite;
}

.contactBtn {
    max-width: 120px;
    height: auto;
    margin-left: 8px;
}

@media (max-width: 1200px) {
    .workImg {
        width: 180px;
    }

    .workCard {
        width: 250px;
    }
}

@media (max-width: 1000px) {
    .workImg {
        width: 160px;
    }

    .workDiv {
        width: 870px;
    }
}


@media (max-width: 900px) {
    .workDiv {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: auto;
    }
}

@media (max-width: 643px) {
    .workDiv {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .workImg {
        width: 70%;
    }
}

@media (max-width: 530px) {
    .workImg {
        width: 60%;
    }

    .workCard {
        width: 200px;
    }

}

@media (max-width: 485) {
    .contactBtn {
        max-width: 100px;
    }
}

@media (max-width: 420px) {
    .logo {
        max-width: 35px;
    }

    .h1 {
        font-size: 1.8rem;
    }

    .workCard>p {
        font-size: .8rem;
    }

    .workCard {
        width: 180px;
    }

    .contactBtn {
        max-width: 90px;
    }
}

@media (max-width: 375px) {

    .workCard {
        width: 170px;
    }

}


@media (max-width: 336px) {

    .workCard {
        width: 150px;
    }

}